@use '../../tokens' as *;

.bento {
  display: grid;
  gap: $space-md;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  &.-tight {
    gap: $space-sm;
  }

  &.-loose {
    gap: $space-lg;
  }

  &.--size-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.--size-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.--size-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.-center {
    justify-items: center;
    align-items: center;
  }
}
